@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out,
    transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    filter 0.2s ease-in-out;
}

::selection,
::-moz-selection {
  color: #ffffff;
  background-color: #0097b6;
  -webkit-text-fill-color: #ffffff;
}

.dark ::selection,
.dark ::-moz-selection {
  color: #ffffff;
  background-color: #00b8aa;
  -webkit-text-fill-color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
  min-height: 32px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.5);
}

.social-icon-container {
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.bg-radial-1 {
  background-image: radial-gradient(
    circle 369px at -2.9% 12.9%,
    rgba(247, 234, 163, 1) 0%,
    rgba(236, 180, 238, 0.56) 46.4%,
    rgba(163, 203, 247, 1) 100.7%
  );
}

.gradient-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.moving-gradient {
  background: linear-gradient(-45deg, #52ee98, #3c92e7, #ba23d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h3 {
  margin-top: 0;
}
